.topbar-container {
    background-color: black;
    color: white;
    width: 100vw;
    height: 5vmin;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    position: fixed;

    &>button {
        color: limegreen;
    }
    &>button:hover{
        background-color: rgba(15,61,20,255);
    }

    .active{
        background-color: rgba(15,61,20,255);
    }
}
